 <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Laporkan Aktivitas</h3>
</div>
<form ng-submit="form_aktivitas.save()" class="form-horizontal">
<div class="modal-body" id="modal-body">
    <input type="hidden" value=""/>
    <div class="form-body">
        <div class="body">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="body">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-md-12" style="margin-bottom:10px">
                                <!-- <div class="col-md-1"></div> -->
                                <div class="col-sm-3" style="margin-top:5px">
                                    <p><b>Aktivitas</b></p>
                                </div>
                                <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
                                <div class="col-md-8">
                                <input class="form-control" list="aktivitas" name="aktivitas" ng-model="form_aktivitas.rincian.kdUrtug" >
                                <datalist id="aktivitas" style="height: 100px">
                                    <option ng-repeat="aktivitas in form_aktivitas.urtug"
                                 value="{{aktivitas.kdUrtug}}" ng-selected="selected">{{aktivitas.deskripsi}}</option>
                                </datalist>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-bottom:10px">
                                <!-- <div class="col-md-1"></div> -->
                                <div class="col-sm-3" style="margin-top:5px">
                                    <p><b>Status</b></p>
                                </div>
                                <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
                                <div class="col-md-3">
                                <input type="text" class="form-control" ng-model="form_aktivitas.data_urtug.volumeKerja" ng-required="true">
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-bottom:10px">
                                <!-- <div class="col-md-1"></div> -->
                                <div class="col-sm-3" style="margin-top:5px">
                                    <p><b>Capaian</b></p>
                                </div>
                                <div class="col-sm-1" style="margin-top:5px"><b>:</b></div>
                                <div class="col-md-3">
                                <input type="number" class="form-control" ng-model="form_aktivitas.rincian.capaianMenit" ng-required="true" style="text-align: right">
                                </div>
                                <div class="col-md-1" style="margin-top: 5px; margin-left: -20px"><b>Menit</b></div>
                            </div>
                        </div>
                    </div>
                    </div>                              
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="modal-footer">
        <button type="submit"  class="btn btn-primary">Save</button>
        <button type="button" ng-click="form_aktivitas.cancel()" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
</form>
<!-- <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div> -->
