<section class="container">
	<div class="container-fluit">
		<div class="block-header"></div>
		<div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>MASTER DATA URAIAN TUGAS</h2>
                    </div>
                    <div class="body table-responsive">
                    <div class="col-md-12">
                        <div class="col-md-11"></div>
                        <div class="col-md-1">
                            <!-- <div class="col-md-"></div> -->
                            <button type="button" ng-click="urtug.open()" class="btn bg-default btn-block btn-xs waves-effect" style="height: 30px; width: 80px"> <i class="material-icons">add_circle</i>
                                                </button>
                        </div>
                    </div>
                        <table class="table table-bordered table-striped table-hover js-basic-example" style="text-align: center">	
                            <thead>
                                <tr>
                                    <th style="width: 5%;text-align: center">No.</th>
                                    <th style="text-align: center">Rincian Tugas/Kegiatan</th>
                                    <th style="width: 10%; text-align: center">Satuan</th>                                      
                                    <th style="width: 5%; text-align: center">Jumlah/Volume Kerja</th>                                      
                                    <th style="width: 5%; text-align: center">Norma Waktu (Menit)</th>                                      
                                    <th style="width: 5%; text-align: center">Beban Kerja</th>                                      
                                    <th style="width: 10%; text-align: center">Peralatan</th>                                      
                                    <th style="width: 5%; text-align: center">Keterangan</th>                                      
                                    <th style="width: 10%; text-align: center">Action</th>                                      
                                </tr>
                                <tr>
                                    <th style="text-align: center">1</th>
                                    <th style="text-align: center">2</th>
                                    <th style="text-align: center">3</th>
                                    <th style="text-align: center">4</th>
                                    <th style="text-align: center">5</th>
                                    <th style="text-align: center">6(4x5)</th>
                                    <th style="text-align: center">7</th>
                                    <th style="text-align: center">8</th>
                                    <th style="text-align: center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in urtug.data_urtug">
                                    <td scope="row">{{$index + 1}}</td>
                                    <td style="text-align: left">{{data.deskripsi}}</td>
                                    <td>{{data.satuan}}</td>
                                    <td>{{data.volumeKerja}}</td>
                                    <td>{{data.normaWaktu}}</td>
                                    <td>{{data.bebanKerja}}</td>
                                    <td>{{data.peralatan}}</td>
                                    <td>
                                        {{data.keterangan}}
                                    	<!-- <button type="button" class="btn btn-info waves-effect" data-toggle="modal" data-target="#defaultModal">DETAIL</button>
		                                <button type="button" class="btn btn-warning waves-effect" data-toggle="modal" data-target="#defaultModal">EDIT</button>
		                                <button type="button" class="btn btn-danger waves-effect" data-toggle="modal" data-target="#defaultModal">HAPUS</button> -->
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-circle waves-circle waves-effect " ng-click="urtug.edit(data)"><i class="material-icons">edit</i></button>
                                        <button type="button" ng-click="urtug.deleteUrtug(data.kdUrtug)" class="btn btn-danger btn-circle waves-circle waves-effect"><i class="material-icons">delete_forever</i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>
